<h1>FlatEvent</h1>
<button onclick="getPosition();">位置情報を取得する</button>
<div id='map'></div>

コンパスのデータ<br>
<%= @connpass_results %>

ATNDのデータ
<%= @atnd_results %>

DOORKEEPERのデータ
<%= @door_keeper_results%>

<style>
#map{
  height: 400px;
}
</style>

<script>
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
    });
  }

  // Geolocation APIに対応している
  if (navigator.geolocation) {
    alert("この端末では位置情報が取得できます");
  // Geolocation APIに対応していない
  } else {
    alert("この端末では位置情報が取得できません");
  }

  // 現在地取得処理
  function getPosition() {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(
      // 取得成功した場合
      function(position) {
          alert("緯度:"+position.coords.latitude+",経度"+position.coords.longitude);
      },
      // 取得失敗した場合
      function(error) {
        switch(error.code) {
          case 1: //PERMISSION_DENIED
            alert("位置情報の利用が許可されていません");
            break;
          case 2: //POSITION_UNAVAILABLE
            alert("現在位置が取得できませんでした");
            break;
          case 3: //TIMEOUT
            alert("タイムアウトになりました");
            break;
          default:
            alert("その他のエラー(エラーコード:"+error.code+")");
            break;
        }
      }
    );
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSynXRfRf7YSrXKzqse275Ukr9SUsdhdM&callback=initMap" async defer></script>
